{% extends "base.html" %}
{% block content %}

<div>
    <section layout="row" layout-sm="column" layout-align="center">
        <md-button style="height: auto; width: auto;" ng-href="/share_a_site"><b>+ 分享一个网站</b></md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center">
        {% for site in sites %}
        <md-button style="height: auto; width: auto;" ng-href="{{ site.url }}">{{ site.title }}
            <md-tooltip>
                {{ site.url }}
            </md-tooltip>
        </md-button>
        <div>{{googleUrl}}</div>
        {% endfor %}
    </section>
</div>
{% endblock %}