<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        .row {
            margin-bottom: 20px;
        }

        .row .row {
            margin-top: 10px;
            margin-bottom: 0;
        }

        [class*="col-"] {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #eeeeee;
            background-color: rgba(86, 61, 124, .5);
            border: 1px solid #dddddd;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" datafld="dropdown">
                dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" class="dropdown-header">1-4</li>
                <li><a href="#" role="menuitem">1</a></li>
                <li><a href="#" role="menuitem">2</a></li>
                <li><a href="#" role="menuitem">3</a></li>
                <li><a href="#" role="menuitem">4</a></li>
                <li role="presentation" class="dropdown-header">1-4</li>
                <li role="presentation" class="divider">1-4</li>
                <li><a href="#" role="menuitem">1</a></li>
                <li class="disabled"><a href="#" role="menuitem">2</a></li>
                <li><a href="#" role="menuitem">3</a></li>
                <li><a href="#" role="menuitem">4</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
            <div class="col-md-1">col-md-1</div>
        </div>
        <div class="row">
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
        </div>
        <div class="row">
            <div class="col-md-3">col-md-3col-md-3col-md-3col-md-3col-md-3col-md-3col-md-3col-md-3col-md-3</div>
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-1">col-md-4</div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                one
                <div class="row">
                    <div class="col-xs-8">
                        first
                    </div>
                    <div class="col-xs-4">
                        two
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 col-md-push-3">col-md-9</div>
            <div class="col-md-3 col-lg-pull-9">col-md-3</div>
        </div>
    </div>

<hr>

    <div class="container">
        <!-- code -->
        for example <code>&lt;section&gt;</code> as inline;
        <br>
        input <kbd>cmd</kbd> command here
        <br>
        <pre>
            var name = hello
        </pre>

        <var>x</var> = <var>y</var> + <var>z</var>
        <br>
        programe output: <samp>hello world</samp>
    </div>

<hr>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>table head</th>
                    <th>table head</th>
                    <th>table head</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr>
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>table head</th>
                    <th>table head</th>
                    <th>table head</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr>
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr>
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr>
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-responsive">
            <thead>
                <tr class="active">
                    <th>table head</th>
                    <th>table head</th>
                    <th>table head</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr class="info">
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr class="warning">
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr class="danger">
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
                <tr>
                    <td>cell</td>
                    <td>cell</td>
                    <td>cell</td>
                </tr>
            </tbody>
        </table>
    </div>

<hr>

    <form role="form">
        <div class="form-group">
            <label>email</label>
            <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label>choose file</label>
            <input type="file">
            <p class="help-block">plz choose one file</p>
        </div>
    </form>

    <form role="form" class="form-inline">
        <div class="form-group">
            <label class="sr-only">email</label>
            <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="sr-only">password</label>
            <input type="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label class="sr-only">choose file</label>
            <input type="file">
            <p class="help-block">plz choose one file</p>
        </div>
    </form>

    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Enter password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />remember
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">choose file</label>
            <div class="col-sm-10">
                <input type="file">
                <p class="help-block">plz choose one file</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-default">login</button>
            </div>
        </div>
    </form>

    <form role="form">
        <fieldset>

        <input type="text" class="form-control">
        <textarea class="form-control" rows="5">hehe</textarea>

        <div class="checkbox">
            <label>
                <input type="checkbox" value=""> white
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value=""> black
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" checked name="options"> male
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" checked name="options"> female
            </label>
        </div>

        <select multiple class="form-control">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
        </select>

        <p class="form-control-static">input as: i@163.com</p>

        <input class="form-control" type="text" placeholder="hi" disabled>
        </fieldset>
    </form>

    <form role="form">
        <div class="form-group has-warning has-feedback">
            <label>user</label>
            <input class="form-control" type="text">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-success">
            <label>user</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group has-error">
            <label>user</label>
            <input class="form-control" type="text">
        </div>
    </form>

<hr>

    <div class="container">
        <button type="button" class="btn btn-default">default</button>
        <button type="button" class="btn btn-primary">primary</button>
        <button type="button" class="btn btn-success">success</button>
        <button type="button" class="btn btn-info">info</button>
        <button type="button" class="btn btn-warning">warning</button>
        <button type="button" class="btn btn-danger">danger</button>
        <button type="button" class="btn btn-link">link</button>
    </div>

    <div class="div">
        <button type="button" class="btn btn-info btn-lg">info</button>
        <button type="button" class="btn btn-info">info</button>
        <button type="button" class="btn btn-info btn-sm">info</button>
        <button type="button" class="btn btn-info btn-xs">info</button>
        <button type="button" class="btn btn-default btn-block">info</button>
    </div>

    <a href="#" class="btn btn-default" role="button">default</a>

    <input class="btn btn-default" type="button" value="Input">

<hr>

    <img src="" alt="" class="img-circle">
    <img src="" alt="" class="img-rounded">
    <img src="" alt="" class="img-thumbnail">

    <!-- jQuery -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>